<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Three</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
<link rel="icon" type="image/svg+xml" href="../resources/favicon.svg">
</head>

<body>
    <img src="../resources/banner.svg" alt="banner">
    <nav class="menu">
        <ul>
            <li><a href="../index.html">home</a></li>
            <li><a href="two.html">page 2</a></li>
            <li><a href="three.html">page 3</a></li>
            

        </ul>
    </nav>
    <main>
        <h1>SVG animation is easy!</h1>

        <img src="../resources/page-three.svg" alt="small red circle follows the perimeter of a square">

</main>
<footer>
    Rajvir Virdi &copy; 2024
</footer>
</body>
</html>