<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Two</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="menu">
        <ul>
            <li><a href="../index.html">home</a></li>
            <li><a href="two.html">page 2</a></li>
            <li><a href="three.html">page 3</a></li>
            

        </ul>
    </nav>
    <main>
        <h1>Favorite Coding Resources</h1>
        <table>
            <thead>
                <tr>
                    <th>Coding resources</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mozilla Developer Network</td>
                    <td><a href="https://developer.mozilla.org/en-US/docs/Web" rel="nofollow">https://developer.mozilla.org/en-US/docs/Web</a></td>
                </tr>
                <tr>
                    <td>W3Schools</td>
                    <td><a href="https://www.w3schools.com/" rel="nofollow">https://www.w3schools.com/</a></td>
                </tr>
                <tr>
                    <td>StackOverflow</td>
                    <td><a href="https://stackoverflow.com/" rel="nofollow">https://stackoverflow.com/</a></td>
                </tr>
                <tr>
                    <td>ChatGPT</td>
                    <td><a href="https://chatgpt.com/" rel="nofollow">https://chatgpt.com/</a></td>
                </tr>
            </tbody>
        </table>

</main>
<footer>
    Rajvir Virdi &copy; 2024
</footer>
</body>
</html>